<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#f2a481">

    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">

    <title>#18</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"></h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="{{ url_for('index') }}">
              KR &rarr; JEJU</a>
            <a class="nav-link active" aria-current="page" href="{{ url_for('second') }}">JEJU &rarr; KR</a>
          </nav>
        </div>
      </header>
    
      <main class="px-3">
        <span>
          <img src="{{ url_for('static', filename='camellia.png') }}" style="width: 50px;">
          <h1>Translate anything.</h1>
        </span>
        <div class="wrapper">
          {% block content %}{% endblock %}
        </div>

        <p class="lead">
          <form method="POST">
          <div>
            <div style="position: absolute; left: 50%; transform: translate(-50%, 0);">
            <img src="{{ url_for('static', filename='ground.png') }}" style="width: 100%;">
            </div>
            <div style="position: relative; width: 80%; margin: 0 auto;">
            <textarea name="text" rows="7" style="background-color: transparent; color: white; border: 0;" placeholder=""></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white">TRANSLATE</button>
          </form>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        Boostcamp/2&nbsp;
        NLP/18&nbsp;
        <a href="https://github.com/boostcampaitech2/final-project-level3-nlp-18/tree/main" class="text-white" target="_blank">M/A/F/I/A</a>
      </footer>
    </div>
</body>